## edited content
.Rhistory
## makestuff chaff
*.args
*.mk
makestuff/
\#*
.#*
*~
*.json
.RData
*.Rout
*.rda
*.Rlog

*.aux
*.log
*.gz

.obsidian/
.idea/
SimData/

*.bbl
*.blg
Manuscript/*.pdf  
## content from makestuff
target.mk
*.html
*.pdf
Manuscript
makestuff
*.MD
*.md.tex
secrets.mk
makestuff
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
.Rhistory
.RData
*.RData
*.Rlog
*.rdata
*.rda
*.rtmp
*.Rout*
*.html.args
*.pdf.args
*.Rds
*.rds
Rplots.pdf
*.ggp.*
*.mirror
resources
*.puttime
*.force.pdf
NoteForR_i.md.pdf
Rc_SIR.pdf
Rc.pdf
Rnotes.pdf
clonedir/Rc_SIR.pdf
clonedir/Rc.pdf
clonedir/Rnotes.pdf
dotdir/Rc_SIR.pdf
dotdir/Rc.pdf
dotdir/Rnotes.pdf
makestuff/style.pdf
Manuscript/main.pdf
Manuscript/response.pdf
Manuscript/supplement.pdf
NoteForR_i.md.out
Rc_SIR.out
Rc.out
Rnotes.out
clonedir/Rc_SIR.out
clonedir/Rc.out
clonedir/Rnotes.out
dotdir/Rc_SIR.out
dotdir/Rc.out
dotdir/Rnotes.out
makestuff/style.out
Manuscript/main.out
Manuscript/response.out
Manuscript/supplement.out
*.biblog
*.log
*.aux
.*.aux
*.blg
*.bbl
*.bcf
*.repeat
*.texfinal
*.nav
*.snm
*.toc
*.ptc
*.run.xml
*.tex.*
*.TEX.*
*.texdeps.mk
*.aux.pdf
*.aux.out
*.texfinal.pdf
*.out
*md.html
*.gh.html
*.emb.html
*.jax.html
*.md.tex
*.comb.md
*.tex.md
slowtarget/
local.mk
target.mk
make.log
go.log
tmp.scr
background.log
*.invite
commit.time
commit.default
*.autocommit
up.time
all.time
*.all
*.setbranch
temp
pages
.clean_dir
dotdir/
clonedir/
cpdir/
*.dd/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.oldfile.pdf
*.datefile
*.datediff
*.prevfile
*.prevdiff
*.newfile
*.newdiff
*.blame
